
._form_1{border-radius: 20px !important; box-shadow: 0px 0px 30px #2e319131; padding:30px !important; font-family: azo-sans-web, sans-serif;margin-bottom: 70px !important;}
::placeholder{color: #2E3191; font-family: azo-sans-web, sans-serif;}
input, textarea{border-radius: 20px !important; border: 1px solid #2E3191 !important;}
._form-title,form p{text-align: center; color:#2E3191;}
.input-fields{display: flex; flex-wrap: nowrap;}
.input-fields input{height:43px !important;}
.name-input-wrapper{margin-right: 2%;}
.email-input-wrapper{margin-left: 2%;}
._button-wrapper{text-align: center;}
._button-wrapper button{width:151px; height:35px; font-family: azo-sans-web, sans-serif;}
.question{height:85px !important;}
._form_1 ._form-title {font-weight: 500 !important;}

@media screen and (max-width:668px) {
    .input-fields{flex-wrap: wrap;}
    .name-input-wrapper{margin-right: 0%;}
    .email-input-wrapper{margin-left: 0%;}
}