@import url("https://use.typekit.net/ufh7dtm.css");
@font-face {
    font-family: azo-light;
    src: url('./fonts/azo_sans_light/Rui\ Abreu\ -\ AzoSans-Light.otf');
  }

.page-landing-page a.wp-block-button__link {
    background: #E98045;
    width: 183px;
    max-width: 183px;
    height: 42px;
    max-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-landing-page h1, h2, h3, h4, h5, h6, p, a {
    font-family: azo-sans-web, sans-serif !important;
}
.block-1 {
    background-image: url("./images/hero-landing-wave-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    height:680px;
}
.block-2{
    display: flex;
    align-items: center;
    height: 520px;
}
.block-3{
    display: flex;
    align-items: center;
    height: 520px;
    background-image: url("./images/quote-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

 

.block-5{
    background-color: #F8F8F8;
    height:200px;
    display: flex;
    align-items: center;
}
.block-6{
    background-image: url("./images/hero-landing-wave-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 795px;
}
.landingpage-hero h2 {
    font-size: 56px;
    line-height: 66px;
    margin: 0;
    width: 100%;
    max-width: 505px;
    font-weight: 500;
}
.landingpage-hero h2:nth-child(2) {
    color: #E98045;
}
.landingpage-hero p {
    width: 100%;
    max-width: 510px;
    margin: 0;
    padding-top: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 35px;
}
.landingpage-hero .wp-block-image {
    max-width: 560px;
    max-height: 324px;
}
.landingpage-hero .wp-block-image img {
    width: 100%;
    height: 100% !important;
}
h2.why-oscar-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 49px;
}
.report-image {
    max-width: 64px;
    max-height: 64px;
    margin: 0 auto;
}
.report-image img {
    width: 100%;
    height: 100%;
}
.import-image {
    max-width: 60px;
    max-height: 60px;
    margin: 0 auto;
}
.import-image img {
    width: 100%;
    height: 100%;
}
.new-page-image {
    max-width: 52px;
    max-height: 52px;
    margin: 0 auto;
}
.new-page-image img {
    width: 100%;
    height: 100%;
}
p.why-oscar-left-title,
p.why-oscar-middle-title,
p.why-oscar-end-title{
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 24px;
    line-height: 30px;
    color: #E98045;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}
p.why-oscar-middle-title{padding-top: 16px;}
p.why-oscar-end-title{padding-top: 23px;}

p.why-oscar-left-copy,
p.why-oscar-middle-copy,
p.why-oscar-end-copy{
    width: 100%;
    max-width: 281px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.why-oscar-columns {
    margin-bottom: 66px;
}
.why-oscar-columns .wp-block-button {
    width: 100%;
    max-width: 182px;
    margin: 0 auto;
}
.quote-icon-orange {
    max-width: 74px;
    max-height: 63px;
    margin-bottom: 0;
}
.quote-icon-orange img {
    width: 100%;
    height: 100%;
}
p.quote-copy {
    margin: 0;
    padding-top: 45px;
    padding-bottom: 17px;
    width: 100%;
    max-width: 989px;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}
.hooper-hyde-logo {
    max-width: 189px;
    max-height: 55px;
    margin-bottom: 0;
    padding-bottom: 44px;
}
.hooper-hyde-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} 
.quote-read-more-button a.wp-block-button__link {
    width: 100%;
    max-width: 156px;
}
h2.details-and-pricing-title {
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
}
.details-and-pricing-title .wp-block-column:nth-child(2){
    width: 500px;
}
.why-oscar-button a.wp-block-button__link {
    margin: 0 auto;
}
h2.how-does-oscar-work-title {
    margin-top: 12%;
    font-weight: 400;
    width: 100%;
    font-size: 36px;
    line-height: 45px;
}
figure.wp-block-image.size-full.dwp-image-banner {
    margin-bottom: 0 !important;
}
.how-work-create-acc-image {
    max-width: 300px;
    max-height: 174px;
    margin: 0 auto;
}
.how-work-create-acc-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.how-column-left-title {
    margin-top: 36px;
    margin-bottom: 11px;
    font-size: 26px;
    line-height: 33px;
    font-weight: 400;
    color: #E98045;
}
.how-column-left-copy {
    margin: 0 auto;
    width: 100%;
    max-width: 281px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}
.how-work-import-image {
    max-width: 270px;
    max-height: 212px;
    margin: 0 auto;
}
.how-work-import-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.how-column-middle-title {
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 11px;
    font-size: 26px;
    line-height: 33px;
    color: #E98045;
}
.how-column-middle-copy {
    margin: 0 auto;
    width: 100%;
    max-width: 319px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 11px;
}
.how-work-analyse-image {
    max-width: 270px;
    max-height: 184px;
    margin: 0 auto;
}
.how-work-analyse-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.how-column-end-title {
    margin: 28px auto 0;
    width: 100%;
    max-width: 179px;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #E98045;
}
.how-column-end-copy {
    padding-top: 11px;
    width: 100%;
    max-width: 321px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
video::-webkit-media-controls-volume-slider {
    display:none;
}
video::-webkit-media-controls-mute-button {
    display:none;
}
video::-webkit-media-controls-mute-button:hover {
    display: none;
    background: transparent;
}
figure.wp-block-video {
    margin: 0 auto;
    text-align: center;
}
video {
    width: 660px;
    height: 395px;
    margin: 0 auto;
    display: block;
}
#introvideo{
    width: 660px;
    height: 395px;
}
footer.dark-blue-background {
    background-color: #2E318E;
    padding: 40px 0;
}
.footer-content-container {
    width: 100%;
    max-width: 637px;
    margin: 0 auto;
}
.footer-content-container p {
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}
.footer-social-icons {
    display: flex;
    width: 100%;
    max-width: 72px;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-social-icons, .social-icon-left .social-icon-right {
    width: 50%;
}
hr.footer-orange-line {
    width: 100%;
    border: 1px solid #DB8030;
    margin-top: 26px;
}
.footer-address-container {
    width: 100%;
    max-width: 766px;
    justify-content: space-around;
    display: flex;
}
.footer-address-container .footer-address-content-right .footer-address-content-left {
    width: 50%;
    max-width: 354px;
}
.footer-address-content-left span {
    display: flex;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 18px;
    align-items: flex-start;
    font-family: azo-light, sans-serif !important;
}
.footer-address-content-right span {
    display: flex;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 18px;
    align-items: flex-start;
    font-family: azo-light, sans-serif !important;
}
p.address-text {
    text-align: left;
    margin-top: 0;
    padding-left: 12px;
    font-weight: 300;
}
p.location-name {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    margin-top: 34px;
}
.footer-address-content-left a {
    text-decoration: none;
}
.footer-address-content-right a {
    text-decoration: none;
}

@media (max-width: 800px) {
    video {
        width: 92vw;
        height: 55vw;
    }
    #introvideo{
        width: 92vw;
        height: 55vw;
    }
    hr.footer-orange-line {
        width: 80%;
        margin-top: 33px;
    }
    .footer-address-container {
        flex-direction: column;
        align-items: center;
    }
    p.footer-top-text {
        width: 100%;
        max-width: 221px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 27px;
    }
}
@media only screen and (max-width: 1060px) and (min-width: 700px)  {
    .landingpage-hero h2 {
        font-size: 5.2vw;
    }

.wp-block-buttons>.wp-block-button {
    display: block !important;
}
}
.social-icons-footer {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

