/*
Theme Name: Live template
Author: James Hayes
Version: 2.0.0

dk blue: #302C91;
orange: #F6772A;

font-family: adobe-garamond-pro, serif; 400 & 600

font-family: futura-pt,sans-serif; 300 & 400 & 500
*/
@import url("https://use.typekit.net/pwh6aus.css");
@import "form.css";
@import url("landingpage.css");

/* Defaults */
body{font-family: futura-pt,sans-serif;font-weight: 400;font-style: normal;margin: 0 auto;font-size: 14px;line-height:24px;color:#302C91;}
a{color:#000;}
h1{font-weight: 600;text-transform: capitalize;font-size: 32px;font-family: adobe-garamond-pro, serif;}
h2{font-weight: 600;font-size: 35px;font-family: adobe-garamond-pro, serif;color: #302C91;}
h3{font-weight: 400;font-family: adobe-garamond-pro, serif;}
p.has-medium-font-size{font-size: 25px;}
img{height: auto;}

/* Quick alignments */
.wrapper,
.wp-block-group__inner-container,
.gimme-max-width{max-width: 1100px;margin: 0px auto;}
.no-margin {margin: 0;}
.grey-background{background-color: #F5F5F5;padding: 40px 0;}

header .wrapper{padding: 6px 0;display:flex;justify-content:space-between;align-items: center;}
header{box-shadow: 0 3px 6px #00000016;margin-bottom: 6px;position: fixed;z-index: 10;background-color: white;width: 100%;}
img.logo{width: 160px; margin-top: 5px;}
main{padding-top: 60px;}

nav {display:inline;}
ul.nav.menu{padding: 0;margin: 0;}
ul.nav.menu li {display: inline-block;width: 190px;vertical-align:top;}
ul.nav.menu li:last-of-type {width: auto;}
ul.nav.menu li a {text-decoration: none;font-size:17px;margin: 0 2px;font-weight: 400;color:#2A1F68;}
ul.nav.menu li a:hover,
ul.nav.menu li.current-menu-item a {color:#168CA3;}
ul.nav.menu li.menu-item-62 a {color:#168CA3;padding: 3px 25px;border:2px solid #168CA3;text-transform: capitalize;}

ul.slick-dots {display: flex;flex-wrap: nowrap;}
.slick-dots li {width: 20px;}
.slick-dots li button {display: none;}
.slick-dots li::marker {color: #8E8E8E40;}
.slick-dots li.slick-active::marker {color: #8E8E8E;}

footer .wrapper{display: flex;justify-content: space-around;border-bottom: 1px solid #514895}
footer .footer-column{width: 45%}
footer h2 {font-family: futura-pt,sans-serif;font-size: 20px;font-weight: 500;border-bottom: 1px solid #514895;padding-bottom: 10px;}
footer .copywrite{text-align: center;}



.mobile {display: none !important;}